* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #F5F5F5;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 120px;
}

header h2{
    font-size: 20px;
}

header nav a{
    color:#777777;
    font-size: 16px;
    transition: .3s;
}

header nav a:first-of-type{
    margin-right: 20px;
}

header nav a:hover{
    color: #CE7F3A;
}

/* BAnner */

#banner {
    background: linear-gradient(to right, rgba(11, 9, 8, 0.3), rgba(215, 184, 143, 0.178)), url('../images/banner.jpeg') no-repeat center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 720px;
    padding: 0 120px;
    display: flex;
    align-items: center;   
}

#banner div h1 {
    font-size: 38px;
    color: #f2f2f2;
}

#banner div p {
    font-size: 18px;
    margin: 20px 0;
    color:#f2f2f2;
}

#banner div a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CE7F3A;
    color: #FFFFFF;
    font-size: 16px;
    width: 180px;
    height: 35px;
    border-radius: 8px;
    transition: .3s;
}

#banner div a:hover {
    background-color: #B86B2E;
}   